body {
  background-color: #f3f3f3; /* Light gray background */
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.App header {
  background-color: #1a1a1a; /* Dark header background */
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #e6e6e6; /* Light gray background */
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 0vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3; /* Light gray content background */
}

main::-webkit-scrollbar {
  width: 5px; /* Wider scrollbar */
}

main::-webkit-scrollbar-track {
  background: #ddd; /* Light gray track */
}

main::-webkit-scrollbar-thumb {
  background: #666; /* Dark gray thumb */
}

form {
  background-color: #e6e6e6;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #ccc; /* Divider between form and chat */
}

form button {
  background-color: #0078d4; /* Blue send button */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: 10px; /* Space between input and button */
}

input {
  flex: 2; /* Fill available space */
  height: 40px; /* Adjust the input height */
  font-size: 16px; /* Slightly smaller font size */
  background: #f9f9f9; /* Light gray input background */
  color: #333; /* Darker text color */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  margin-right: 10px
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: #333;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff; /* White received message bubble */
  color: #333;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.message p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}