body {
  background-color: #f3f3f3; /* Light gray background */
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.App header {
  background-color: #1a1a1a; /* Dark header background */
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #e6e6e6; /* Light gray background */
}

main {
  padding: 10px;
  height: 69vh;
  margin: 10vh 0 0vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3; /* Light gray content background */
}

main::-webkit-scrollbar {
  width: 5px; /* Wider scrollbar */
}

main::-webkit-scrollbar-track {
  background: #ddd; /* Light gray track */
}

main::-webkit-scrollbar-thumb {
  background: #666; /* Dark gray thumb */
}

form {
  height: auto; /* Adjust the height to fit the content */
  background-color: #e6e6e6;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #ccc; /* Divider between form and chat */
}

form button {
  background-color: #0078d4; /* Blue send button */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: 10px; /* Space between input and button */
}

input {
  flex: 2; /* Fill available space */
  height: 40px; /* Adjust the input height */
  font-size: 16px; /* Slightly smaller font size */
  background: #f9f9f9; /* Light gray input background */
  color: #333; /* Darker text color */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  margin-right: 10px
}

button {
  flex: none;
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


ul, li {
  text-align: left;
  list-style: none;
}

p {
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: #333;
  text-align: center;
}

.message {
  display: flex;
  flex-direction: column; /* Display username and text in a column */
  align-items: flex-start; /* Align items to the top */
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff; /* White received message bubble */
  color: #333;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.message-date {
  color: #888; /* Adjust the color as needed */
  font-size: 0.8rem; /* Adjust the font size as needed */
}

.message p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
  text-align: justify; /* Align text to the left */
}

/* Textarea styles */
.message-input {
  flex: 2;
  min-height: 100px;
  width: 95%;
  font-size: 16px;
  background: #f9f9f9;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  resize: vertical;
  transition: height 0.2s;
  overflow-y: auto;
}


.username-input {
  flex: 1;
  height: 45px;
  width: 95%;
  font-size: 16px;
  background: #f9f9f9;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
}


button.load-more {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 10px 0;
}

button:hover {
  background-color: #0057a3; /* Change color on hover */
}

.form-container {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  padding: 10px 20px;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5px;
}

.message-input::placeholder {
  font-size: 16px; /* Font size */
  font-family: 'Arial', sans-serif; /* Use Arial as the font family */
}